<div class="card col-md-4">
	<div class="card-title"> <%= post.title %> </div>
	<%= image_tag post.thumbnail_url, size: '300x200' %>
	<div class="card-description"><%= post.description %></div>
</div>